<div class="center">

    <h2>All lessons</h2>

</div>

<div class="center">
    <a class="button" href="/lessons/find">Find lessons</a>
</div>


{{#if lessons}}
<div class="lesson">
    {{#each lessons}}

    <div>

        <h3>{{name}}</h3>

        <img src={{imageUrl}} alt="lesson">

        <p>added by: {{owner.fullName}}</p>

        <a href="/lessons/details/{{_id}}">See details</a>

    </div>


    {{/each}}

</div>

{{else}}

<p>No listed lessons found</p>

{{/if}}