{{#if creator}}
<
<h1>Welcome, {{creator.fullName}}</h1>
<div class="lesson-details">
    <div class="lesson-name-picture">

        <img src="{{creator.profileImage}}" alt="" />
    </div>
    <div class="lesson-info">
        <a class="button" href="/creators/update-creator-profile">Update Profile</a>


        <a class="button" href="/lessons/new">Add a lesson</a>

    </div>

</div>

{{#if lessons}}

<h3>Listed lessons</h3>

<div class="lesson">

    {{#each lessons}}

    <div class="column">

        <img src={{imageUrl}} alt="lesson">

        <a href="/lessons/details/{{_id}}">{{name}}</a>

    </div>

    {{/each}}

</div>

{{/if}}



{{/if}}