{{#if creator}}
<
<h1>Welcome, {{creator.fullName}}</h1>
<div class="lesson-details">
    <div class="lesson-name-picture">

        <img src="{{creator.profileImage}}" alt="" />
    </div>
    <div class="lesson-info">
        <a class="button" href="/creators/update-creator-profile">Update Profile</a>


        <a class="button" href="/lessons/new">Add a lesson</a>

    </div>

</div>

{{#if lessons}}

<hr>

<h3>Listed lessons</h3>

<div class="lesson">

    {{#each lessons}}

    <div class="each-lesson">

        <div class="column">

            <h3 class="see-details">{{name}}</h3>

            <img src={{imageUrl}} alt="lesson">

            <a class="see-details" href="/lessons/details/{{_id}}">{{name}}</a>

        </div>

    </div>

    {{/each}}

</div>

{{/if}}



{{/if}}