{{#if user}}
<h1>Welcome, {{ user.fullName }}!</h1>
<div>
    <div class="lesson-details">
        <div class="lesson-name-picture">
            <img src="{{user.profileImage}}" alt="user-image" />
        </div>
        <div class="lesson-info">
            <a class="button" href="/lessons/find">Find a Lesson</a>

            <a class="button" href="/user/update-user-profile">Update Profile</a>
        </div>
    </div>


    {{#if user.paidLessons}}

    <hr>

    <div class="center">
        <h2>Paid lessons</h3>
    </div>

    <div class="lesson">

        {{#each user.paidLessons}}

        <div class="each-lesson">

            <h3 class="see-details">{{name}}</h3>

            <img src={{imageUrl}} alt="lesson">

            <p class="see-details">Format: {{format}}</p>

            <p class="see-details">Added by: {{owner.fullName}}</p>

        </div>

        {{/each}}

    </div>

    {{else}}

    <hr>

    <div class="center">
        <p>You paid lessons will appear here</p>
    </div>

    {{/if}}

</div>

{{/if}}